/* -----Fonts---- */
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Poppins&display=swap');

/*-----body style---- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/*---- header style starts----*/

.navigation-bar-space{
    display: flex;
    /* margin-top: 87px; */
    margin-left: 85px; 
    
}
nav h3{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    
}
/* ----main style starts---- */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* ----main style ends---- */


/*---- header style starts----*/

/* headline style */
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-column-gap: 133px; */
    /* margin-left: 70px; */
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}
.heading{
    display: flex;
    flex-direction: column;

}

.container h1{

    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    
}
.container h3{
    Width:505px;
    Height:60.9px;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
    
    
}
.prebook-button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700px;
    color:#FFFFFF;
    
    
    
    
}
.prebook-button-div{
    margin-top: 16px;
    width: 140px;
    transition: width 1s;
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    padding: 10px 24px;
    border-radius: 41px;
    box-shadow: 2px 2px 5px gray;
}
.prebook-button-div:hover{
    width: 170px;
    
}



.fa-arrow-right{
    margin-left: 8px;
} 

.container img{
    width: 100%;
    filter: drop-shadow(1px 1px 5px gray);
}

/*---- Popular section style starts---- */
.popular-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popular-section-header h3{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
}
/* .popular-section-header{
    justify-content: center;
} */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.blog{
    
    border: 2px solid honeydew;
    box-shadow: 4px 4px 5px gray ;
    width: 329px;
    height: 476px;
    padding-left: 14px;
    padding-bottom: 40px;
    border-radius: 10px;
    padding-top: 17px;
    padding-right: 0px;
}
.grid-image img{
    width: 300px;
    height: 256px;
    
}

.product-info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: none;
}
.product-name{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}

.price{
    margin-top: -25px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
}
.ratings{
    display: flex;
    justify-content: left;
    align-items: center;
}
.rating-number{
    color: #5E6366;
    font-weight: 700;
    font-size: 14px;
}

.fa-star.filled{
    color: goldenrod;
}
.fa-star-half-alt{
    color: goldenrod;
}
.rating-number{
    margin-left: 10px;
}
.info{
    margin-top: -5px;
}
.info-fonts{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}
.see-more{
    text-decoration: none;
    padding-left: 1000px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
}

/*---- Popular section style ends---- */


/* Link and support section style starts */
.quick-link-support{
    background-image: linear-gradient(45deg, #f0953365 0%, #e6693c71 25%, #dc27428f 50%, #cc236754 75%, #bc188869 100%);
    width: 1345px;
    
}
    .link-and-support{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .link-and-support h3{
        color: #faf6f6;
        font-weight: 900;
        text-align: center;
        
    }
.quick-link-div li{
    list-style: none;
    text-align: left;
    margin-top: -5px;
    margin-left: 243px;
}
.quick-link-div2 li{
    list-style: none;
    text-align: left;
    margin-top: -5px;
    margin-left: 257px;
}

.quick-link-div li a{
    
    text-decoration: none;
    color: #6e172d;
    
}
.quick-link-div2 li a{
    
    text-decoration: none;
    color: #6e172d;
    
}
/* Link and support section style starts */

/* ----Footer section style starts---- */

#footer-style{
    border: 1px solid rgb(230, 59, 59);
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.footer-info-div{
    text-align: center;
}
footer h3{
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;;
}
footer h6{
    font-size: 14px;
    font-weight: bold;
    color: #D9DBE1;
    margin-top: -20px;
    
}

.social-media{
    
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 50px;
    
}
.fa-instagram{
    color: rgb(226, 213, 213);
}
.fa-dribbble{
    color: rgb(226, 213, 213);
}
.fa-twitter{
    color: rgb(226, 213, 213);
}
.fa-youtube{
    color: rgb(226, 213, 213);
}

.social-icon-margin{
    margin:0px 16px;
    background-color: #ffffff2a;
    /* background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); */
    padding: 0px 5px;
    border-radius: 20px;
}
/* ----Footer section style ends---- */


/* For mobile devices */
@media only screen and (max-width:688px) {
   header h3{
    text-align: center;
   }
   .container{
       width: 80%;
       grid-template-columns: repeat(1,1fr);
    
   }
   .heading{
       width: 50%;
       
   }
   .heading h1{
    
       font-size: 26px;
       text-align: center;
       margin-left: 35px;
       margin-right: 40px;
   }
   .heading h3{
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding-left:60px;
    padding-right: 60px;
    margin-top: -60px;
    margin-left: 100px;
   }
   .prebook-button-div{
       width: 50%;
       margin-left: 220px;
   }
   .prebook-button{
       width: 100%;
   }
   .camera-image img{
    width: 50%;
    margin-left: 25%;
   }
}